@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET vNext</h1>
    <p class="lead">Una demo por @@rlbisbe, @@eiximenis y @@jc_quijano</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Demos</h2>
        <ul>
            <li><a href="/books">Web API y MVC</a></li>
            <li><a href="/bookrepository">Inyección de dependencias</a></li>
        </ul>
    </div>
</div>